####################################
# OS / System files
####################################
.DS_Store
Thumbs.db
desktop.ini

####################################
# Eclipse / IDE files
####################################
.vscode

####################################
# Java build output
####################################
bin/
target/
out/
*.class

####################################
# Logs
####################################
*.log
screenshots/
allure-results/
####################################
# Environment / Config
####################################
*.properties
*.env

####################################
# Git
####################################
.gitignore

####################################
# Misc
####################################
*.tmp
*.swp
*.bak
